@font-face {
    font-family: "Dreaming Outloud";
    src: url("./fonts/dreaming.otf") format('opentype');
}

* {
    font-family: "Dreaming Outloud";
    background-color: #EFE7DD;
    color: black;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #68864D;
}



body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.icons {
    height: auto;
    width: 350px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inner-container {
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    gap: 30px;
}

#title-container {
    margin: 25px 0 50px 0;
}

div a{
    text-decoration: none;
}

.title-icon{
    height: auto;
    width: 300px;
    background-color: #68864D;
}

.title {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nasi-lemak-title {
    background-color: #68864D;
    color: #F4F1E5;
}