@font-face {
    font-family: "Dreaming Outloud";
    src: url("./fonts/dreaming.otf") format('opentype');
}

* {
    font-family: "Dreaming Outloud";
    background-color: #EFE7DD;
    color: black;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #68864D;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-size: 20px;
    justify-content: space-between;
}

.icons {
    height: auto;
    width: 350px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

.inner-container {
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    gap: 30px;
}

#title-container {
    margin: 25px 0 50px 0;
}

div a{
    text-decoration: none;
}

.title-icon{
    height: auto;
    width: 300px;
    margin-right: -45px;
}

.title {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nasi-lemak {
    background-color: #68864D;
    color: #F4F1E5;
}

.lower-section,
.title {
    padding: 0 10% 0 10%;
}

.footer {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.headers {
    font-size: 35px;
}

.nasi-lemak-headers {
    color: #68864D;
}

.kaya-toast-headers {
    color: #D4B57B;
}

.ingre-and-steps {
    display: flex;
    justify-content: space-between;
}

.steps {
    max-width: 50%;
}

.kaya-toast {
    background-color: #D4B57B;
    color: #EFE7DD;
}

.satay {
    background-color: #AE6F3A;
    color: #F8F7F4;
}

.satay-headers {
    color: #AE6F3A;
}

.mee-kari {
    background-color: #E78663;
    color: #EFE7DD;
}

.mee-kari-headers {
    color: #E78663;
}