* {
    font-family: 'Playpen Sans', cursive;
    background-color: #f2e8cf;
    color: black;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #606c38;
}



body {
    display: flex;
    flex-direction: column;
}

.icons {
    height: auto;
    width: 350px;
}